@use 'base/variables' as v;
@use 'base/mixins' as m;

.confirmar {
    margin-top: 3rem;

    //logo tipo texto en confirmar
    .uptask {
        @include m.textoDegradado(v.$verde);
    }

    // enlaces acciones de la vista confirmar
    .acciones {
        justify-content: center;
        a {
            color: v.$verde;
        }
    }
}
