@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    background-color: v.$grisClaro;

    .principal {
        //toma todo el ancho del dashboard
        flex: 1;
        //permite scroll vertical en la derecha
        overflow: scroll;
    }

    .contenido {
        padding: 2rem;
        @include m.tablet{
            width: 80%;
            margin: 0 auto;
        }

        .nombre-pagina {
            font-size: 2.8rem;
            text-align: center;
        }
    }

    @include m.tablet {
        display: flex;
        //altura 100% viewport height (ventana navegador)
        height: 100vh;
    }

    .formulario {
        //para los input que NO son tipo submit
        input:not([type="submit"]) {
            background-color: v.$blanco;
        }
        //para los input que son tipo submit
        input[type="submit"] {
           @include m.boton(v.$indigo, v.$blanco);
        }
    }

}